# CMake and IDE output
build/
out/
.vs/
.vscode/
.idea/
CMakeUserPresets.json
plugins/*/tmp/

# Audio plug-in artifacts
*.vst3/
*.component/
*.aaxplugin/
*.exe
*.dll
*.pdb
*.ilk

# OS files
.DS_Store
Thumbs.db
